<a href="https://colab.research.google.com/github/yuchan-lee/Intro2Dept/blob/main/4_2_ForStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üÖ∞Ô∏è **FOR statement** üîÑ Loop  
"for statement" enable you to extract each one of elements (i.e., from 1st element to the last from an objectÍ∞ùÏ≤¥ or a certain range of dataÌäπÏ†ï Î≤îÏúÑÏùò ÏûêÎ£å).

- #### <font color='red'> Example</font> from ÌååÏù¥Ïç¨ 200Ï†ú

        for Íµ¨ÏÑ±ÏöîÏÜå in Î≤îÏúÑ:  #list, tuple, dictionary, range
            Î∞òÎ≥µÏúºÎ°ú Ïã§ÌñâÌï† ÏΩîÎìú #e.g., ÏàòÌñâÌï† Î¨∏Ïû•
        
          or/and  

        for ÏïÑÎûò ÏΩîÎìúÎùºÏù∏ Î≥ÄÏàò in Î≤îÏúÑ:
            Î∞òÎ≥µÏúºÎ°ú Ïã§ÌñâÌï† ÏΩîÎìú  #e.g., ÏàòÌñâÌï† Î¨∏Ïû•

In [ ]:
numbers = (1,2,3,4,5,6,7,8,9) # numbers is assigned a tuple containing the numbers from 1 to 9, enclosed in parentheses.

for i in numbers: # 'i' represents for integers. # The for loop iterates through each element (i) in the numbers tuple.
  print(i) # Inside the loop, the print(i) statement prints each individual integer from the numbers tuple on separate lines.

1
2
3
4
5
6
7
8
9

In [ ]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for x in scope: # Any alphabet of your choice can be anything after "for" work.
  print(x)

1
2
3
4
5

In [ ]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for y in scope: # An alphabet can be anything you like after 'for'.
  print(y)

1
2
3
4
5

##<font color = 'red'> üí°üêπüêæ List of Keywords
- Keywords are the reserved words in Python. You cannot use a keyword as a variable name, function name or any other identifier.
- **[List of keywords](https://www.programiz.com/python-programming/keyword-list)**

In [ ]:
#@markdown <font color='red'>**üí°üêπüêæ Be cautious about using words used the list of keywords**

import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
#@markdown <font color='red'>**üíÄ Wrong Example**

class = ['Sam', 'Emily', 'Todd']

for i in class:
  print(i)

SyntaxError: ignored

In [ ]:
#@markdown <font color='brown'>**üíä Fix this!**

name = ['Sam', 'Emily', 'Todd']

for i in name:
  print(i)

Sam
Emily
Todd

##üëÄ Before you run the following code lines for a FOR Statement, you need to know the following.

üíä ObjectsÍ∞ùÏ≤¥ used in FOR statements are i) string, ii) list or tuple, iii) dictionary, iv) range(). They are characterized by repeatable objects.  

    The results depend on the number in (range Î≤îÏúÑ).
    e.g., range(0) ‚û°Ô∏è  NONE, range(1) ‚û°Ô∏è 0, range(2) ‚û°Ô∏è 0,1, etc.

In [ ]:
for i in range(1):
  print (i)

type(i)

0

int

In [ ]:
for x in range(3):
  print(x)

type(x)

0
1
2

int

In [ ]:
for y in range(10):
  print(y)

type(y)

0
1
2
3
4
5
6
7
8
9

int

In [2]:
list_fruit = ["apple","banana","grape","strawberry","pear","mango"]

for i in list_fruit:
  print(i)

apple
banana
grape
strawberry
pear
mango

In [ ]:
for z in range(0):
  print(z)

#type(y) #NameError: name 'y' is not defined

In [ ]:
list_fruit = ["apple", "banana", "grape", "strawberry", "pear", "mango"]

for i in list_fruit:
  print(i)

apple
banana
grape
strawberry
pear
mango

In [ ]:
string ='abcde'

for c in string:
  print(c)

In [ ]:
string ='abcde'

for c in string:
  print(c)

a
b
c
d
e

In [8]:
list_int = [1,2,3,4,5]

for c in list_int:
  print(c)
print(list_int[0])
print([0])

1
2
3
4
5
1
[0]

In [ ]:
list_int = [1,2,3,4,5]

for c in list_int:
  print(c)

1
2
3
4
5
1
[0]

In [ ]:
#@markdown üíä **Compare!**
print(list_int[0])
print([0])

1
[0]

In [10]:
dict1 = {'a':97, 'b':98, 'c':99}

for i in dict1:
  print(i)

a
b
c

In [11]:
dict1 = {'a':97, 'b':98, 'c':99}

for i in dict1:
  print(i)

a
b
c

In [12]:
dict2 = {'a':100, 'b':200, 'c':300}

for i in dict2:
  print(i)

print(dict2['a'])

a
b
c
100

In [ ]:
dict2 = {'a':100, 'b':200, 'c':300}

for i in dict2:
  print(i)

a
b
c

In [ ]:
#@markdown üíä **Compare between print(dictionary['a']) & print(['a']) to print a value, not a key.**

print(dict2['a'])
print(['a'])

100
['a']

In [ ]:
#@markdown üí£ <font color = 'red'>**Indeces are not compatible with dictionary-type data**

print(dict2[0])

KeyError: ignored

In [13]:
for c in range(365):
  print(c)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364

In [ ]:
for c in range(10):
  print(c)

0
1
2
3
4
5
6
7
8
9

# üÖ±Ô∏è  FOR ~: IF ~: CONTINUE... ELSE: BREAK

    for Íµ¨ÏÑ±ÏöîÏÜå ÌòπÏùÄ ÏïÑÎûò ÏΩîÎìúÎùºÏù∏ Î≥ÄÏàò in Î≤îÏúÑ:
      ...
      continue    # Îã§Ïùå Î∞òÎ≥µÎ¨∏ ÏàòÌñâ
      ...
      break       # for Î∞òÎ≥µÎ¨∏ ÌÉàÏ∂ú

In [14]:
scope = [1,2,3,4,5]

for i in scope:
  print(i)
  if i<3:
    continue
  else:
    break

1
2
3

In [ ]:
scope=[1,2,3,4,5]

for i in scope:
  print(i)        #ÌôîÎ©¥Ïóê Ìï¥Îãπ Ï†ïÏàòÎ•º Ï∂úÎ†•Ìïú ÌõÑ Í∑∏ ÏàòÍ∞Ä 3 Î≥¥Îã§ ÏûëÏúºÎ©¥ Í∑∏ Îã§Ïùå Ïà´ÏûêÎ•º Ï∂úÎ†•ÌïòÍ≥†, 3 Î≥¥Îã§ ÌÅ¨Í±∞ÎÇò Í∞ôÏúºÎ©¥ Ï¢ÖÎ£å
  if i<3:
    continue      # Ïù¥ Í≤ΩÏö∞ continue ÏóÜÏù¥ÎèÑ ÏΩîÎìúÎùºÏù∏ ÏûëÏÑ± Í∞ÄÎä•
  else:
    break

1
2
3

#üÖæÔ∏è FOR ~: ELSE ~:

    for Î≥ÄÏàò in Î≤îÏúÑ:
      Î∞òÎ≥µ Ïã§Ìñâ ÏΩîÎìú
    else:       
      for Íµ¨Î¨∏Ïù¥ Î™®Îëê Ïã§ÌñâÎêòÏóàÏùÑ Îïå Ïã§ÌñâÌï† ÏΩîÎìú

In [15]:
scope = [1,2,3,4,5]

for x in scope:
  print(x)
else:
  print('perfect')

1
2
3
4
5
perfect

In [ ]:
scope = [1,2,3,4,5]

for x in scope:
  print(x)
else:                 #Î∞òÎ≥µÎ¨∏Ïù¥ breakÏóê ÏùòÌï¥ Ï§ëÎã®Îê® ÏóÜÏù¥ Ï†ïÏÉÅÏ†ÅÏúºÎ°ú Î™®Îëê Ïã§ÌñâÎêòÏñ¥ÏïºÎßå ÌäπÏ†ï ÏΩîÎìú Ïã§ÌñâÌï† Í≤ΩÏö∞ FOR ~ ELSE ÏÇ¨Ïö©
  print('Perfect')

                      #ÌååÏù¥Ïç¨200Ï†úÏóêÎäî print (x) Îã§ÏùåÏóê break ÏΩîÎìúÎùºÏù∏Ïù¥ ÏûàÎäîÎç∞, Ïù¥Í≤ÉÏùÄ ÏõêÏÜåÍ∞Ä Î≤îÏúÑÏóê ÏûàÏùÑ Îïå Í≤∞Í≥ºÎ•º Î≥¥Ïó¨Ï£ºÎäîÍ≤å 1 Í∞ú Î∞ñÏóê ÏïàÎêúÎã§. Ïã§ÏàòÎ°ú ÎÑ£ÏùÄ ÏΩîÎìúÎùºÏù∏ÏúºÎ°ú Î≥¥Ïù∏Îã§. Ïù¥ ÏòàÏ†úÎäî ÏïÑÎûòÏóê Îî∞Î°ú ÏΩîÎìúÎùºÏù∏ÏùÑ ÏûëÏÑ±ÌñàÎã§.

1
2
3
4
5
Perfect

## üíä **Compare! (Do not use in class. Just let students know about it.**

In [ ]:
#@markdown üíÄ IT seems an imperfect example from ÌååÏù¥Ïç¨200Ï†ú.
list = [1,2,3]
for i in list:
  print(i)
  break ##ÌååÏù¥Ïç¨200Ï†úÏóêÎäî print (x) Îã§ÏùåÏóê break ÏΩîÎìúÎùºÏù∏Ïù¥ ÏûàÎäîÎç∞, Ïù¥Í≤ÉÏùÄ ÏöîÏÜåÍ∞Ä Î≤îÏúÑÏóê ÏûàÏùÑ Îïå Í≤∞Í≥ºÎ•º Î≥¥Ïó¨Ï£ºÎäîÍ≤å 1 Í∞ú Î∞ñÏóê ÏïàÎêúÎã§. Ïã§ÏàòÎ°ú ÎÑ£ÏùÄ ÏΩîÎìúÎùºÏù∏ÏúºÎ°ú Î≥¥Ïù∏Îã§.
else:
  print('Perfect')

1